{% load static %}
<html>
    <head>
        <title>Korona Projekt</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" type="text/css">
    </head>

  <body>

    <h2><center><a href="/" ><img src="{% static 'blog/images/Group44.svg'%}"></a></center></h2>


    <pre><center><h4><a href="/" >Fizyka</a> <a href="/">Matematyka</a> <a href="/">Informatyka</a> <a href="/">Zaloguj</a></h4><center></center></pre>


        <div>
            <br>
            <br>
            <br>
             <h1><center><a href="/" ><img src="{% static 'blog/images/Fizykabutton.svg'%}"></a></center></h1>
             <h2><center><a href="/" ><img src="{% static 'blog/images/Matematyka-button.svg'%}"></a></center></h2>
             <h3><center><a href="/" ><img src="{% static 'blog/images/Informatyka-button.svg'%}"></a></center></h3>
        </div>
<!--
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
-->
    </body>
</html>